build
sdkconfig
sdkconfig.old
sdkconfig.1
dependencies.lock
storage/*
.vscode/*
ws/
.rake_tasks~
.serial_port
flash/cache/*
flash/data/rubykaigi/
# Output settings (mute, volume) the audio task keeps across reboots
flash/etc/audio_output_*.txt
